.app_category_container {
    display: flex;
    flex-wrap:wrap;    
    justify-content: space-around;
    /* background-color: aquamarine; */
}
.app_category_items {
    /* background-color:aliceblue; */
    font-size: 1.5rem;
    margin-top: 10px;
}

.app_category_image {
    /* flex-direction: row; */
    /* background-color: olive; */
    padding:10px;
    /* margin: 0; */
    border-radius: 35px;
    /* height: 200px; */
    max-width: 180px;
}

.p_category_title {
    margin-top: -5px;
}

